header {
	background: rgb(10,156,232);
    background: -moz-linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/aboutUsBackground.jpg);
    background: -webkit-linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/aboutUsBackground.jpg);
    background: linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/aboutUsBackground.jpg);
	display: table;
	background-attachment: fixed;
	min-height: 500px;
    background-position:center;
	background-repeat: no-repeat;
	width: 100%;
}

#aboutSection {
    padding-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
}