header {
	background: rgb(10,156,232);
    background: -moz-linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/contactUsBackground.jpg);
    background: -webkit-linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/contactUsBackground.jpg);
    background: linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/contactUsBackground.jpg);
	display: table;
	background-attachment: fixed;
	height: 500px;
    background-position:center;
	background-repeat: no-repeat;
	width: 100%;
}

#contactForm form {
    min-width: 200px;
    margin-left: 30%;
    margin-right: 30%;
    align-content: center;
    justify-content: center;
}

#contactForm input {
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #000;
    margin: 0.5rem 0rem 1.5rem 0rem;

}

#contactForm textarea {
    width: 100%;
    height: 150px;
    color: #fff;
    background-color: #000;    
    margin: 0.5rem 0rem 1.5rem 0rem;
}
