header {
	background: rgb(10,156,232);
    background: -moz-linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/departmentsBackground.jpg);
    background: -webkit-linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/departmentsBackground.jpg);
    background: linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/departmentsBackground.jpg);
	display: table;
	background-attachment: fixed;
	height: 500px;
    background-position:center;
	background-repeat: no-repeat;
	width: 100%;
}

#departments {
    padding-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
}

#departmentInside {
    width: 100%;
}

.departmentBox {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.departmentBox img{
    width: 100%;
    height: 100%;
	min-width: 250px;
}

.departmentBox img:hover{
    transform: scale(1.1);
    transition: transform .3s ease;
}

@media (max-width:932px) {   
    .departmentBox img{
        width: 50%;
        height: 100%;
        margin-left: 22%; /* To center */
    }
}