header {
	background: rgb(10,156,232);
    background: -moz-linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/feesBackground.jpg);
    background: -webkit-linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/feesBackground.jpg);
    background: linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/feesBackground.jpg);
	display: table;
	background-attachment: fixed;
	min-height: 500px;
    background-position:center;
	background-repeat: no-repeat;
	width: 100%;
}

#feeTable {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feeTable h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#feeTable h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#feeTable input {
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
}

#domesticTable {
    display: none;
}

#internationalTable {
    display: none;
}


