header {
	background: rgb(10,156,232);
    background: -moz-linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/homeBackground.jpg);
    background: -webkit-linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/homeBackground.jpg);
    background: linear-gradient(45deg, rgba(10,156,232,0.55) 0%, rgba(141,41,241,0.55) 100%), url(../Images/headerBackgrounds/homeBackground.jpg);
	display: table;
	background-attachment: fixed;
	height: 500px;
    background-position:center;
	background-repeat: no-repeat;
	width: 100%;
}

#aboutSection {
    padding-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
}

#unuByNumbers {
    padding-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unuByNumbers .col {
    padding-bottom: 2rem;
}

#highlights {
    text-align: center;
    width: 100%;
}

#notifications {
	padding-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
}

#notificationsButton {
	display: flex;
}

#notificationInside {
    display: none;
	width: 100%;
	padding-left: 10%;
}

.notificationBox {
    padding-bottom: 3rem;
    position: relative;
	text-align: center;
	justify-content: center;
	align-content: center;
}

.notificationBox h2 {
	margin-bottom: 4rem;
}

.notificationDate {
	background-color: #707070;
	color: #0AE0E8;
	height: 70px;
	width: 80px;
	clip-path:polygon(100% 25%, 100% 100%, 0% 100%, 0% 0%);
	position: absolute;
	z-index: 1;
	bottom: 280px;
	left: 10px;
	text-align: center;
	font-size: 0.8rem;
}

.notificationDate span{
	font-size: 2rem;
}

.notificationContent {
	background-color: #fff;
	height: 300px;
	width: 300px;
	position: relative;
}

.notificationContent p{
	font-size: 2.2rem;
	padding: 2rem 0rem 0rem 1rem;;
	margin: 0px;
	color: #000;
	text-align: left;
}

#normalNavigation {
	text-align: center;
	padding: 1rem 2rem 0rem 0rem;
	position: absolute;
	top: 300px;
	left: 20px;
}

#responsiveNavigation {
	display: none;
}

#normalNavigation a, #responsiveNavigation a {
	border-radius: 50%;
	color: #fff;
	font-size: 2rem;
    background: linear-gradient(0deg, rgba(10,202,232,1) 0%, rgba(141,41,241,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(10,202,232,1) 0%, rgba(141,41,241,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(10,202,232,1) 0%, rgba(141,41,241,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(10,202,232,1) 0%, rgba(141,41,241,1) 100%);
	cursor: pointer;
}

#gallery {
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#gallery h4 {
    margin-top: 120px;
}

.gallerySections {
    transform: skewX(-20deg);
    width: 234px;
    height: 500px;
    overflow: hidden;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.gallerySections img{
    transform: skewX(20deg);
}

.gallerySections:hover{
    transform: scale(1.2) skewX(-20deg);
    transition: transform .3s ease;
}

/* Responsive Gallery */
#galleryMobile {
    display: none;
    padding-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
}

.galleryBox {
    padding-bottom: 2rem;
}

.galleryBox img {
    width: 100px;
    height: 100%;
	min-width: 250px;
}

.galleryBox:hover {
    transform: scale(1.2);
    transition: transform .3s ease;
}

@media (max-width:1832px) {
    .gallerySections {
    	width: 180px;
    	height: 400px; 
    }
}

@media (max-width:1425px) {
    .gallerySections {
        width: 130px;
        height: 350px; 
    }
	
	.notificationBox {
		display:grid;
		margin-top: 2rem;
	}
}

@media (max-width:1374px){
	#responsiveNavigation {
		text-align: center;
		padding: 1rem 2rem 0rem 0rem;
		position: absolute;
		top: 300px;
		left: 20px;
		display: block;
	}
	
	#normalNavigation {
		display: none;
	}
}

@media (max-width:1050px) {
    #galleryMobile {
        display: block;
    }
    
    #gallery {
        display: none;
    }
	
	.galleryBox {
		position: relative;
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}
}

@media (max-width:932px) {
    #aboutSectionResponsive {
        display: none;
    }
    
    #unuByNumbers .col {
        padding-bottom: 6rem;
    }
    
    .galleryBox img{
		align-content: center;
		justify-content: center;
        width: 50px;
        height: 100%;
    }
	
	#aboutSection {
    	padding-top: 4rem;
    	margin-left: 2%;
		margin-right: 2%;
	}
}